<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="투표 리스트" />
<meta property="og:description" content="투표 리스트 입니다" />
<meta property="og:image" content="https://movie-phinf.pstatic.net/20210715_95/1626338192428gTnJl_JPEG/movie_image.jpg" />


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

    <title>투표 리스트</title>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
          rel="stylesheet">
    <style>
        * {
            font-family: 'Noto Serif KR', serif;
        }

        .mypic {
            width: 100%;
            height: 300px;

            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://www.coindeskkorea.com/news/photo/201805/20180531_1_22123.jpg');
            background-position: center 30%;
            background-size: cover;

            color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }


        .mycards {
            width: 95%;
            max-width: 500px;
            margin: auto;
        }

        .mycards .card{
            margin-top : 10px;
        }


    </style>
    <script>
        $(document).ready(function () {

            showVote();
        });



        function voteViewDetail(voteid){
              location.href="/voteViewDetail?voteid="+voteid;
              //alert("투표 상세보기 페이지 이동");
        }
         function voteInsert(){
              location.href="/voteInsert";
             //alert("투표 등록 페이지 이동");
        }

        function showVote() {
            $.ajax({
                type: "GET",
                url: "/voteViewData",
                data: {},
                success: function (response) {
                    $('#comment-list').empty()
                    console.log(response)
                    let row = response.msg
                    if (row.length == 0) {
                        $('#voteList').append(`<div onclick="voteViewDetail()" class="card text-bg-light mb-3" >
                                                <div class="card-header" style="text-align: center">데이터 없음</div>
                                                <div class="card-body">
                                                    <h5 class="card-title" style="text-align: center">데이터가 없습니다</h5>

                                                    </div>
                                                </div>`)
                    } else {


                    row.map((data, idx) => {
                        $('#voteList').append(`<div onclick="voteViewDetail(${data.voteid})" class="card text-bg-light mb-3" >
                                                <div class="card-header" style="text-align: center">${data.userid}</div>
                                                <div class="card-body">
                                                    <h5 class="card-title" style="text-align: center">${data.voteTitle}</h5>
                                                    <p class="card-text" style="text-align: center">${data.choice1} vs ${data.choice2}</p>
                                                    <p class="card-text" ><i class="bi bi-person"></i> ${Number(data.choice1_count) + Number(data.choice2_count)}</p>
                                                    </div>
                                                </div>`)
                    })
                    }
                }
            });
        }
    </script>
</head>
<body>
<div class="container text-center">
    <div class="row" style="height: 100%">
        <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3 col-xl-3 col-xxl-4" >

        </div>
        <div class="col-xs-8 col-sm-10 col-md-8 col-lg-6 col-xl-6 col-xxl-4"  style="background-color: #FFD945 " >
            <div class="card text-center" style ="margin:6px -4px 6px -4px;">
                <div class="card-header">
                    작성자 ID
                </div>
                <div class="card-body">


                    <h5 class="card-title">짜장면이냐 짬뽕이냐</h5>
                    <div class="card text-center mb-3" style="width: 100%;">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    짜장
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="card text-center mb-3" style="width: 100%;">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    짬뽕
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="button">투표하기</button>
                    </div>
                    <p></p>

                    <h5 class="card-title">짜장면이냐 짬뽕이냐</h5>
                    <div class="card text-center mb-3" style="width: 100%;">
                        <div class="card-body">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 25%"></div>
                            </div>
                            <h5 class="card-title">짜장</h5>
                        </div>
                    </div>
                     <div class="card text-center mb-3" style="width: 100%;">
                        <div class="card-body">
                            <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-danger" style="width: 75%"></div>
                            </div>
                            <h5 class="card-title">짬뽕</h5>
                        </div>
                    </div>
                </div>



                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
            <div class="card text-bg-secondary mb-3" style="max-width: 100%;">
                <div class="card text-bg-secondary mb-3" style="max-width: 100%;">

                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-person-circle"></i>짜장매니아</h5>
                        <p class="card-text">짜장이 최고지</p>
                    </div>
                </div>
            </div>
             <div class="card text-bg-secondary mb-3" style="max-width: 100%;">
                <div class="card text-bg-secondary mb-3" style="max-width: 100%;">

                    <div class="card-body">
                        <h5 class="card-title"><i class="bi bi-person-circle"></i>짬뽕매니아</h5>
                        <p class="card-text">짬뽕이 최고지</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-1 col-md-2 col-lg-3 col-xl-3 col-xxl-4 >

        </div>

    </div>
</div>

</body>
</html>